*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}
main{
    padding: 20px ;
}
.imagen {
    height: 10px;
}
.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
}
/*******estilos del menu***************/ 
.main-nav{
    opacity: 0;
    visibility: hidden;
    transition:  all 0.5s;
    z-index: 999;
    width: 100%;
}
.menu{
    position: absolute;
    top: 150px;
    left: 0;
    background-color: #212121;
    width: 100%;
    list-style: none;
    padding: 10px;  
}
.menu__item{
    text-align: center;
}
.menu__link{
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    height: 40px;
}
.menu__link:hover{
    background-color: #ffffff;
    color: #212121;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}

.main-header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
 .icon-menu{
    height: 1.7em;
    border: 1px solid rgb(51, 48, 48);
    padding: 5px 7px;
    color: #454546;
    cursor: pointer;
}
.main-header__btn{
    border: 1px solid rgb(51, 48, 48);
    padding: 5px 12px;
    color: #454546;
    text-decoration: none;
}
.main-header__input{
    display: block;
    padding: 5px;
    width: 50%;
    max-width: 300px;
}




/* *****************************************slider****************************************** */
.container-slider{
    
    margin: 40px 20px;
    overflow: hidden;/*oculta las otras imagenes que estan en seguida*/
    position: relative;
}
.slider{
    display: flex;
    width: 400%;
    height: 250px;
    margin-left: -100%; 
}
.slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.slider__section{
    width: 100%;
    position: relative;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;/*las imagenes no se estiraran*/
}
.slider__btn{
    z-index: 99;
    color: rgba(7, 7, 7, 0.5);
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);/*locentra mejor*/
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background-color: rgb(199, 196, 196);
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}
.slider-content{
    z-index: 2;
    position: absolute;
    top: 0%;
    right: 50%;
    color: rgb(255, 255, 255);
    transform: translateX(50%);
    text-align: center;
}
.slider-title{
    font-size: 1.9em;
}
.btn-shop{
    display: block;
    border: 1px solid #ff4e00;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
}
.btn-shop:hover{
    background-color: #ff4e00;
    color: #ffffff;
}

/**********************************************************/
.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 5px;
}
.product{
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
}
.product:before{
    content: 'NEW';/*agrega strings desde css*/
    position: absolute;
    background-color: #ff4e00;
    padding: 5px ;
    transform: rotate(-90deg);
    height: 15px;
    top: 5px;
    right: 0;
    color: rgb(255, 255, 255);  
}
.producto__price{
    color: #ff4e00;
    font-weight: bold ;;
}
.product__icon{
    margin-top: 15px;
    height:15px;
    margin: 0 auto;
    margin-top: 12px;
    cursor: pointer;
}
.product__img{
    width: 10em;  
    object-fit: cover;
}

.container-editor{
    margin-top: 50px;
}
.container__testimonials{
    text-align: center;
    background-color:#f3f2f2; 
    padding: 20px;
    margin: 20px 0;   
}
.testimonial__txt{
    color: #777;
}
.editor__item{
    height: 200px;
    position: relative;
    overflow: hidden;
}
.editor__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.editor__circle{
    width: 200px;
    height: 200px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 180px;
    right: 0;
    left: 350px;
    padding: 30px;
    padding-bottom: 80px;
    padding-right: 60px;
    text-align: center;
    transition: all 0.5s;
}
.editor__item:hover .editor__circle{
    transform: scale(1.2);
    top: 70px;
    right: 0;
    left: 170px;
}
.editor__item:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0;
    background-color: rgba(253, 155, 155, 0.5);
    opacity: 0;
    transition: all 0.5s;
}
.tip{
    text-align: center;
}
.editor__item:hover::before{
    opacity: 1;
}
.tip .btn-shop{
    color: #333;
}
.tip .btn-shop:hover{
    color: rgb(255, 255, 255);
}
.main-footer{
    background-color: #151515;
    color: #ffffff;
    padding: 30px 20px;
}
.footer__title{
    border-bottom: 1px dotted #555;
    padding: 20px 20px;
}
.footer__txt {
    color: #555;  
}
.footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.footer__input{
    background-color: #151515;
    width: 100%;
    height: 20px;
    display: block;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 2px;
}
.copy{
    color: #555;
}




/************************* estilos para tablest*************************/

@media screen and (min-width: 740px){
    .slider{
        height: 400px;   
    }
    .editor__item{
        height: 300px;
    }
    .container-tips{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 100px;
        height: 300px;
    }
}

@media screen and (min-width: 1024px){
    .container{
        width: 1000px;
        margin: auto;
    }
    .icon-menu{
        display: none;
    }
    .main-header .container--flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-header__container{
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .main-header__container:nth-child(2){
        order: -1;
        width: 20%;
    }
    .main-header__container:nth-child(3){
        width: 20%;
    }
    .main-header__title{
        width: 100%;
        font-size: 4em;
        margin: 0%;
        border-bottom: 1px solid #ccc;
    }
    .main-nav{
        visibility: visible;
        opacity: 1;
        width: 100%;
    }
    .menu{
        position: static;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: none;
    }
    .menu__link{
        color: #333;
       padding-left: 15px;
       padding-right: 15px;
       
    }
    .menu__link:hover{
        background-color: #333;
        color: #ffffff;
    }
    .container-products{
        grid-template-columns: repeat(4, 1fr);
    }
    .container__testimonials p{
        font-size: 1.2em;
    }
    .container__testimonials h2{
        font-size: 1.8em;
    }
    .container-editor{
        display: flex;
    }
    .container-editor{
        display: flex;
        justify-content: space-between;
    }
    .editor__item{
        width: 48%;
    }
    .main-footer{
        display: grid;
        grid-template-columns: repeat(4 ,1fr);
        grid-gap:80px;
    }
    .copy{
        grid-column-start: span 4;
        text-align: center;
    }
}

@media screen and (min-width: 1280px){
    .container{
        width: 1200px;
    }
}




